.announcement {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
}

.announcement-author, .announcement-date{
	display: inline-block;
	width: 49%;
}

/* .announcement-author{
	float: left;
} */

/* .announcement */

/* On mouse-over, add a deeper shadow */
.announcement:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the announcement container */
.announcement .container {
    padding: 2px 16px;
}

.announcement-message, .announcement-heading{
	padding: 2px 8px;
}

.announcement hr{
	margin: 2px;
}

#logout_button, #add_announcement_button{
    box-shadow: 1px 2px 5px #000000;
      color: #ffffff;
      background-color: #981E32;
      border-color: #EAAB00;
      margin: 0 auto;
}


.priority-high{
    color:  red;
}

.priority-medium{
    color: green;
}
.priority-low{

}